<h2 class="contact">When will I able to play Fallout 2: Alternate 2163?</h2>
I wish you to have chance in near future but promising exact date always ends with disaster!
Stay tuned and focus on progress bar up there. It is based on online spreadsheet where I note every task and then it calculates new progress number and updates automatically.

<h2 class="contact">Do you look for someone to help with project?</h2>
<div style="display: flex; flex-direction:row;">
        <img class="faq-img" src="../../../../assets/img/dweller.webp"/>
    <div style="margin: 15px;">
        I need someone who will create PBR model of Vault Dweller for Blender. I will try to animate him (motion camera capture) to create awesome and unforgettable movie cutscenes for modification. Massive kabooms too!
        <br><br>
        I need also someone to create new maps for the modification. No spoilers!
        <br><br>
        Is anyone common with AI voice generation? Any chance to bring back voices from Fallout 1 talking heads?
        <br><br>
        If you have such skills and you want be part of project fell free to join! Check contact button up there!
    </div>
</div>