<div id="gallery-panel">
    <div id="content-center-panel-title">Gallery</div>
    <div class="gallery-image-container"> <a href="../../../../assets/img/gallery/1.jpg" target="_blank"> <img
                class="gallery-image" src="../../../../assets/img/gallery/1.jpg"> </a> </div>
    <div class="gallery-image-container"> <a href="../../../../assets/img/gallery/2.jpg" target="_blank"> <img
                class="gallery-image" src="../../../../assets/img/gallery/2.jpg"> </a> </div>
    <div class="gallery-image-container"> <a href="../../../../assets/img/gallery/3.jpg " target="_blank"> <img
                class="gallery-image" src="../../../../assets/img/gallery/3.jpg"></a> </div>
    <div class="gallery-image-container"> <a href="../../../../assets/img/gallery/4.jpg" target="_blank"> <img
                class="gallery-image" src="../../../../assets/img/gallery/4.jpg"> </a> </div>
    <div class="gallery-image-container"> <a href="../../../../assets/img/gallery/5.jpg " target="_blank"> <img
                class="gallery-image" src="../../../../assets/img/gallery/5.jpg"> </a> </div>
    <div class="gallery-image-container"> <a href="../../../../assets/img/gallery/6.jpg" target="_blank"> <img
                class="gallery-image" src="../../../../assets/img/gallery/6.jpg"></a> </div>
    <div class="gallery-image-container"> <a href="../../../../assets/img/gallery/7.jpg" target="_blank"> <img
                class="gallery-image" src="../../../../assets/img/gallery/7.jpg"></a> </div>
    <div class="gallery-image-container"> <a href="../../../../assets/img/gallery/8.jpg" target="_blank"> <img
                class="gallery-image" src="../../../../assets/img/gallery/8.jpg"></a> </div>
    <div class="gallery-image-container"> <a href="../../../../assets/img/gallery/9.png" target="_blank"> <img
                class="gallery-image" src="../../../../assets/img/gallery/9.png"> </a> </div>
    <div class="gallery-image-container"> <a href="../../../../assets/img/gallery/10.png" target="_blank"> <img
                class="gallery-image" src="../../../../assets/img/gallery/10.png"> </a> </div>
    <div class="gallery-image-container"> <a href="../../../../assets/img/gallery/11.png" target="_blank"> <img
                class="gallery-image" src="../../../../assets/img/gallery/11.png"> </a> </div>
</div>