<div id="menucontainer">
    <div id="menu">
        <h1 class="button"><img src="assets/media//logo.png" height="150px" class="logo"></h1>
        <div class="buttons">
        <a (click)="showPage('home')"> <h1 class="button">Home</h1> </a>
        <a (click)="showPage('news')">  <h1 class="button">News</h1>  </a>
        <a (click)="showPage('gallery')"> <h1 class="button">Gallery</h1> </a>
        <!-- <a (click)="showPage('about')">  <h1 class="button">About</h1>  </a> -->
        <a (click)="showPage('download')">  <h1 class="button">Download</h1>   </a>
        <!-- <a (click)="showPage('download')">  <h1 class="button">Propose an idea!</h1>   </a> -->
        <!-- <a (click)="showPage('download')">  <h1 class="button">Make a Review!</h1>   </a> -->
        <a (click)="showPage('faq')">  <h1 class="button">FAQ</h1>   </a>
        <!-- <a (click)="showPage('download')">  <h1 class="button">Board</h1>   </a> -->
        <a (click)="showPage('contact')">  <h1 class="button">Contact</h1>   </a>
        <!-- <a (click)="showPage('guestbook')">  <h1 class="button">Guest book</h1>   </a> -->
    </div>
</div>
    <!-- Bug report -->
    <!-- Board -->
</div>